{% load staticfiles %}
<!-- Doctype html -->
<html>
  <head>
    <title>
      {% block head_title %}
      Welcome
      {% endblock head_title %}
    </title>
    <link rel="stylesheet" href='{% static "css/reset.css" %}' />
    <link rel="stylesheet" href='{% static "css/base.css" %}' />
    <style>
      {% block styles %}
      {% endblock styles %}
    </style>
    {% block head_extra %}
    {% endblock head_extra %}
  </head>
  <body>
    <header></header>
    {% block content %}
    <i class="fa fa-refresh" aria-hidden="true"></i>
    {% endblock content %}
    <footer></footer>
    <! -- Javascript -->
    {% block js %}
    {% endblock js %}
    {% block extra_js %}{% endblock extra_js %}
    <! -- End Javascript -->
  </body>
</html>
